{% extends 'student_template/base_template.html' %}
{% block page_title %}
 Barcode Scanner
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
   <div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <!-- general form elements -->
         <div class="card card-primary">
            <div class="card-header">
               <h3 class="card-title">Barcode Scan</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="{% url 'student_view_attendance_post' %}" method="post">
               <div class="card-body">
                  {% csrf_token %}
                   
                  <!-- /.card-body -->
                  <div class="card-footer">
                     <button type="submit" class="btn btn-primary btn-block" id="fetch_student">Fetch Attendance</button>
                  </div>
                  <div id="student_data" class="card-footer">
                  </div>
               </div>
            </form>
            <!-- /.card -->
         </div>
      </div>
   </div>
   </div>
</section>
<!-- /.content -->
{% endblock main_content %}