{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color: lightgrey;">
   <!-- Brand Logo -->
   <a href="index3.html" class="brand-link">
   <img src="{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
   style="opacity: .8">
   <span class="brand-text font-weight-light" style="color: black;">attendify</span>
   </a>
   <!-- Sidebar -->
   <div class="sidebar" style="color: black;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
         <div class="image">
            <img src="{% static "dist\img\img_2.png" %}" class="img-circle elevation-2" alt="User Image">
         </div>
         <div class="info">
            <a href="{% url 'admin_profile' %}" class="d-block" style="color: black;">{{ user.username }}</a>
         </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            <li class="nav-item">
               {% url 'admin_home' as admin_home %}
               <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}" style="color: black;">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                     Home
                  </p>
               </a>
            </li>
            <li class="nav-item">
               <a href="#staffSubMenu" data-toggle="collapse" aria-expanded="false"  class="nav-link" style="color: black;">
                  <i class="nav-icon fas fa-users"></i>
                  <p>
                     Staff
                     <i class="right fas fa-angle-double-right"></i>
                  </p>
               </a>
               <ul class="collapse list-unstyled" id="staffSubMenu">
                  <li class="nav-item">
                     {% url 'add_staff' as add_staff %}
                     <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                           Add Staff
                        </p>
                     </a>
                  </li>
                  <li class="nav-item">
                     {% url 'manage_staff' as manage_staff %}
                     {% url 'edit_staff' staff_id=id as edit_staff %}
                     <a href="{% url 'manage_staff' %}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}"style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                           Manage Staff
                        </p>
                     </a>
                  </li>
                  <li class="nav-item">
                     {% url 'admin_send_notification_staff' as admin_send_notification_staff %}
                     <a href="{% url 'admin_send_notification_staff' %}" class="nav-link {% if request.path == admin_send_notification_staff %} active {% endif %}" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                           Send Staff Notification
                        </p>
                     </a>
                  </li>
                  <li class="nav-item">
                     {% url 'staff_feedback_message' as staff_feedback_message %}
                     <a href="{% url 'staff_feedback_message' %}" class="nav-link {% if request.path == staff_feedback_message %} active {% endif %}"style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>
                           Staff Feedback
                        </p>
                     </a>
                  </li>
               </ul>
            </li>
            <!-- Add Student Section -->
            <li class="nav-item">
               <a href="#" class="nav-link" style="color: black;">
                  <i class="nav-icon fas fa-user-graduate"></i>
                  <p>
                     Students
                     <i class="right fas fa-angle-double-right"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="{% url 'add_student' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Student</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'manage_student' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Manage Students</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'student_leave_view' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Student Leave</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'student_feedback_message' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Student Feedback</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'admin_send_notification_student' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Send Student Notification</p>
                     </a>
                  </li>
               </ul>
            </li>
            <!-- Add Course Section -->
            <li class="nav-item">
               <a href="#" class="nav-link" style="color: black;">
                  <i class="nav-icon fas fa-book"></i>
                  <p>
                     Courses
                     <i class="right fas fa-angle-double-right"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="{% url 'add_course' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Course</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'manage_course' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Manage Course</p>
                     </a>
                  </li>
               </ul>
            </li>
            <!-- Add Subject Section -->
            <li class="nav-item">
               <a href="#" class="nav-link" style="color: black;">
                  <i class="nav-icon fas fa-book-open"></i>
                  <p>
                     Subjects
                     <i class="right fas fa-angle-double-right"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  <li class="nav-item">
                     <a href="{% url 'add_subject' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Add Subject</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="{% url 'manage_subject' %}" class="nav-link" style="color: black;">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Manage Subject</p>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="nav-item">
               {% url 'manage_session' as manage_session %}
               <a href="{% url 'manage_session' %}" class="nav-link {% if request.path == manage_session %} active {% endif %} " style="color: black;">
                  <i class="nav-icon fas fa-calendar-alt"></i>
                  <p>
                     Manage Session Year
                  </p>
               </a>
            </li>
            <li class="nav-item">
               {% url 'admin_view_attendance' as admin_view_attendance %}
               <a href="{% url 'admin_view_attendance' %}" class="nav-link {% if request.path == admin_view_attendance %} active {% endif %}" style="color: black;">
                  <i class="nav-icon fas fa-calendar-check"></i>
                  <p>
                     View Attendance
                  </p>
               </a>
            </li>
         </ul>
      </nav>
      <!-- /.sidebar-menu -->
   </div>
   <!-- /.sidebar -->
</aside>